@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.gradient-text {
  background: linear-gradient(to right, #8047F8, #FF59F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.gradient-text-2 {
  background: linear-gradient(to right, #E1704F, #CF617E, #6B84BC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.gradient-text-3 {
  background: linear-gradient(to left, #4B9EFF, #5977E3, #607EE7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.bg-gradient {
  background: linear-gradient(to right, #E1F1FF, #E5E7EB);
}

.button-gradient {
  background: linear-gradient(to right, #607EE7, #5977E3, #4B9EFF);
}

.blue-text-gradient {
  background: linear-gradient(to right, #607EE7, #5977E3, #4B9EFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #242424;
}

/* 
    ::-webkit-scrollbar-track {
      background-color: #451f75ba;
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: #17072bba;
      border-radius: 50px;
  } */

::-webkit-scrollbar-track {
  background-color: #e9e9e9f5;
  /* background-color: #331358ba; */
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 50px;
}

.thin_scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 2px;
}

.thin_scrollbar::-webkit-scrollbar-thumb {
  background-color: #1a1919;
  border-radius: 10px;
}

.thin_scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.tiptap > :first-child {
  margin-top: 0;
}

.tiptap p {
  margin: 0.15rem 0;
  @apply leading-5;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul,
.tiptap ol {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.4rem;
}

.tiptap ul[data-type='taskList'] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.tiptap ul[data-type='taskList'] li {
  align-items: flex-start;
  display: flex;
}

.tiptap ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.tiptap ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
}

.tiptap input[type='checkbox'] {
  cursor: pointer;
}

.tiptap ul[data-type='taskList'] {
  margin: 0;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
  @apply font-bold;
}

.tiptap h2 {
  font-size: 1.2rem;
  @apply font-semibold;
}

.tiptap h3 {
  font-size: 1.1rem;
  @apply font-medium;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

.tiptap code {
  border-radius: 0.4rem;
  font-size: 0.9rem;
  padding: 0.1rem 0.3rem;
  @apply bg-neutral-200 text-black dark:text-white dark:bg-neutral-700;
}

.tiptap pre {
  border-radius: 0.5rem;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  margin: 0 0;
  padding: 0.1rem 0.3rem;
  @apply bg-neutral-700;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.9rem;
  padding: 0;
}

.tiptap mark {
  border-radius: 0.4rem;
  font-size: 0.9rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
  @apply bg-blue-500 text-white;
}

.tiptap blockquote {
  margin: 0.5rem 0;
  padding-left: 1rem;
  font-family: 'Gilroy-medium', sans-serif;
  margin: 0.8rem 0;
  @apply border-2 border-dotted border-neutral-300 dark:border-neutral-200 p-2 rounded-md text-neutral-800 dark:text-neutral-100;
}

.tiptap hr {
  border: none;
  border-top: 2.5px solid #6a6a6a;
  cursor: pointer;
  margin: 0.5rem 0;
  @apply border-t-[2.5px] border-neutral-300 dark:border-neutral-500;
}

.tiptap hr.ProseMirror-selectednode {
  @apply border-t-2 border-neutral-500 dark:border-neutral-400;
}

.tiptap a {
  @apply text-blue-500 underline cursor-pointer hover:text-blue-700;
}

.tiptap .mention {
  border-radius: 0.4rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}

.tiptap .mention::after {
  content: '\200B';
}

.tiptap .mention {
  @apply hover:cursor-pointer hover:text-blue-500 font-medium p-0;
}

.tiptap .mention[data-mention-category='orgs'] {
  @apply hover:text-orange-500;
}

.tiptap .mention[data-mention-category='events'] {
  @apply hover:text-purple-500;
}

.tiptap .mention[data-mention-category='projects'] {
  @apply hover:text-sky-500;
}

.tiptap .mention[data-mention-category='communities'] {
  @apply hover:text-rose-500;
}

.tiptap .mention[data-mention-category='openings'] {
  @apply hover:text-emerald-500;
}

.tiptap .color {
  white-space: nowrap;
}

.tiptap .color::before {
  /*background-color: var(--color);*/
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 2px;
  content: ' ';
  display: inline-block;
  height: 1em;
  margin-bottom: 0.15em;
  margin-right: 0.1em;
  vertical-align: middle;
  width: 1em;
}

.tiptap .character-count {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  gap: 0.5rem;
  margin: 1.5rem;
  color: rgb(202, 202, 202);
}

.tiptap .character-count svg {
  @apply text-purple-500;
}

.tiptap .character-count--warning,
.tiptap .character-count--warning svg {
  @apply text-red-500;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-gray-400;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.editor-bubble-menu button {
  @apply p-1 rounded-sm;
}

.editor-bubble-menu button:hover {
  @apply hover:bg-primary_comp_hover dark:hover:bg-dark_primary_comp_hover;
}

.editor-bubble-menu button.is-active {
  @apply bg-primary_comp_active dark:bg-dark_primary_comp_active;
}

.editor-bubble-menu button.is-active:hover {
  @apply hover:bg-primary_comp_active hover:dark:bg-dark_primary_comp_active;
}

@layer utilities {
  .--scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .--scrollbar::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 10px;
  }

  .--scrollbar::-webkit-scrollbar-thumb {
    background-color: #306CB1;
    border-radius: 10px;
  }

  .--scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #306CB1AF;
  }

  .--scrollbar::-webkit-scrollbar-track:active {
    @apply bg-slate-300
  }
}

.prize-card-bg {
  /*background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);*/
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.team-card-bg {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

/*SWIPER**************************************************************************************SWIPER*/

/*.swiper_container {*/
/*  height: 10rem;*/
/*  padding: 2rem 0;*/
/*  position: relative;*/
/*}*/

.swiper-slide {
  width: 10rem;
  height: 8rem;
  position: relative;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}


.embla {
  /* max-width: 48rem; */
  margin: auto;
  --slide-height:10rem;
  --slide-spacing: 1rem;
  --slide-size: 60%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  max-width: 30rem;
  /*padding-left: var(--slide-spacing);*/
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.embla__slide__number {
  backface-visibility: hidden;
}

.masonry-grid {
  display: flex;
  width: auto;
}

.masonry-grid_column {
  background-clip: padding-box;
}